h3 {
    font-family: 'Arial';

}

header h1 {
font-size: 64px;
color: teal;

}

.bio::after {
display: block;
width: 100px;
height: 100px;

}

body {
    background-color: #dbf7ff;
    font-family: "Roboto", sans-serif;
}

/* contact.html */

input[type=name],
input[type=email],
textarea {

    padding: 2px;
    border: 2px solid orange;
}