
.name{
font-size: 64px;
color: black;
display:flex;
padding-left: 100px;
padding: 100px 100px 100px 100px;
}

.intro::after {
display: block;
width: 100px;
height: 100px;

}

body {
    background-color: #dbf7ff;
    font-family: "Roboto", sans-serif;
}

/* contact.html */

input[type=name],
input[type=email],
textarea{
    padding: 2px;
    border: 2px solid #3366cc;
}

.navigbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    height: 80px;  
    font-family: "Roboto";
}

.navigbar li {
    display: inline;
    padding-right: 10px;
    cursor: pointer;
}

.navigbar li:hover{
    opacity: 0.6;
}

.bottom-container{
    background-color: #3366cc;
  }